.grid-outer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: aqua; */
}

.grid-container {
    margin: auto;
    margin-bottom: 72px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 0.6fr 1fr 1fr;
    grid-gap: 1px 0px;
}

.grid-container-2-items {
    grid-template-areas: 
        "top-bar top-bar top-bar"
        "side-bar1 grid-content1 grid-content1"
        "side-bar2 grid-content2 grid-content2"
    ;
    grid-template-rows: 0.1fr 1fr 1fr;
}

.grid-container-3-items {
    grid-template-areas: 
        "top-bar top-bar top-bar"
        "side-bar1 grid-content1 grid-content1"
        "side-bar2 grid-content2 grid-content2"
        "side-bar3 grid-content3 grid-content3"
    ;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
}

.grid-container-resume {
    grid-template-areas: 
        "top-bar top-bar top-bar"
        "side-bar1 grid-content1 grid-content1"
        "side-bar2 grid-content2 grid-content2"
    ;
    grid-template-rows: min-content;
}

.grid-section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 27px;
    padding-right: 50px;
    font-family: 'Syne', sans-serif;
}

.grid-color {
    background-color: rgb(162, 180, 192, 0.5);
}

.top-bar {
    padding: 22px;
    grid-area: top-bar;
    font-family: 'Allan', cursive;
    font-size: 32px;
    height: fit-content;
}

@media (max-width: 450px) {

    .title-container {
        margin-top: 45px;
    }

    .grid-container-2-items {
        margin: 15px;
        grid-template-areas:
            "top-bar top-bar top-bar"
            "side-bar1 side-bar1 side-bar1"
            "grid-content1 grid-content1 grid-content1"
            "side-bar2 side-bar2 side-bar2"
            "grid-content2 grid-content2 grid-content2"
        ;
        grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr 1fr;
    }

    .grid-container-3-items {
        margin: 15px;
        grid-template-areas:
            "top-bar top-bar top-bar"
            "side-bar1 side-bar1 side-bar1"
            "grid-content1 grid-content1 grid-content1"
            "side-bar2 side-bar2 side-bar2"
            "grid-content2 grid-content2 grid-content2"
            "side-bar3 side-bar3 side-bar3"
            "grid-content3 grid-content3 grid-content3"
        ;
        grid-template-rows: min-content;
    }


    .grid-section {
        padding: 22px;
        height: fit-content;
    }

    .grid-content {
        padding-bottom: 45px;
    }

    .sidebar {
        padding: 22px;
        height: fit-content;
    }
}

.grid-content1 {
    grid-area: grid-content1;
}

.grid-content2 {
    grid-area: grid-content2;
}

.grid-content3 {
    grid-area: grid-content3;
}

.side-bar1 {
    grid-area: side-bar1;
}

.side-bar2 {
    grid-area: side-bar2;
}

.side-bar3 {
    grid-area: side-bar3;
}

.content-title {
    font-weight: 600;
}

.content-description {
    padding-top: 25px;
}

.content-link {
    padding-top: 25px;
}

.special-link:link {text-decoration: underline; color: black}
.special-link:visited {text-decoration: underline; color: black}
.special-link:hover {text-decoration: underline; color: black}
.special-link:active {text-decoration: underline; color: black}

.grid-break {
    height: 25px;
}