.quote-container {
    margin-top: 175px auto;
    margin: 175px auto;
    /* background-color: aqua; */
}

#quote {
    font-family: 'Syne', sans-serif;
    font-size: 64px;
    text-align: center;
}

#quote-author {
    margin-top: 50px;
    font-family: 'Syne', sans-serif;
    font-size: 32px;
    text-align: center;
}

.divider-container {
    display: flex;
    justify-content: center;
}

.highlight {
    background-color: #9dc6d1;
}

.story-outer-container {
    display: flex;
    /* background-color: blueviolet; */
    justify-content: center;
}

.title {
    margin-top: 100px;
}

.subtitle-container {
    display: flex;
    justify-content: center;
}

.subtitle {
    text-align: center;
    font-family: 'Syne', sans-serif;
}

.story-container {
    padding: 50px;
    /* background-color: coral; */
    max-width: 1000px;
    font-family: 'Syne', sans-serif;
    margin-bottom: 80px;
}

.first-paragraph {
    font-size: 30px;
}

hr {
    border-top: 1px solid black;
    width: 150px;
    margin-bottom: 15px;
  }

.job-title {
    font-weight: 400;
}

ul {
    padding-left: 15px;
}

@media (max-width: 450px) {
    .quote-container {
        margin-top: 100px auto;
        margin: 100px auto;
    }

    #quote {
        font-size: 42px;
    }

    #quote-author {
        font-size: 24px;
    }

    .story-container {
        padding: 30px;
        margin-bottom: 60px;
    }
    
    .first-paragraph {
        font-size: 24px;
    }

    .title-container {
        text-align: center;
        margin: 95px;
        margin-bottom: 35px;
    }

    .quote-container {
        max-width: 300px;
    }
}