@import url('https://fonts.googleapis.com/css2?family=Allan&family=Andada+Pro&family=Syne:wght@400;600&display=swap');

body {
    margin: 0px;
}

a:link {text-decoration: none; color: black}
a:visited {text-decoration: none; color: black}
a:hover {text-decoration: none; color: #366775;}
a:active {text-decoration: none; color: black}

.header-box {
    height: 120px;
    background-color: #F4AC94;
    text-align: center;
    display: flex;
}

.header-content {
    font-family: 'Allan', cursive;
    font-weight: normal;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.navbar {
    display: flex;
    justify-content: center;
    height: 60px;
    margin-top: 1px;
    background-color: #F4AC94;
}

.navbar-elements-container {
    margin-top: 1px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
}

.selected-element {
    font-weight: 600;
}

.navbar-element {
    margin: auto 0px;
    font-family: 'Syne', sans-serif;
    font-size: 16px;
    text-align: center;
}

.sticky-pos {
  	position: sticky;
    top: 0px;
}
