.about-grid-outer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px 110px;
}

.about-grid-container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-template-areas: 
        "profile-image first-paragraph first-paragraph first-paragraph"
        "second-paragraph second-paragraph second-paragraph projects-link"
        "hobby-image third-paragraph third-paragraph third-paragraph"
    ;
    grid-template-rows: min-content;
}

.profile-image {
    grid-area: profile-image;
    display: flex;
    justify-content: center;
}

.hobby-image {
    grid-area: hobby-image;
}

.first-paragraph {
    padding: 80px 65px;
    grid-area: first-paragraph;
}

.second-paragraph {
    padding: 80px 10px;
    padding-left: 0px;
    grid-area: second-paragraph;
}

.third-paragraph {
    padding: 80px 65px;
    grid-area: third-paragraph;
}

.projects-link {
    grid-area: projects-link;
    display: flex;
    justify-content: center;
}

.text {
    font-family: 'Syne', sans-serif;
    line-height: 1.5;
}

.intro-title {
    font-family: 'Andada Pro', serif;
    font-size: 36px;
    margin-bottom: 45px;
}

.projects-link {
    margin: auto;
}

.image-container {
    display: flex;
    justify-content: center;
}

.caption {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 450px) {

    .about-grid-outer-container {
        margin: 20px;
    }

    .about-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    
        grid-template-areas: 
            "profile-image"
            "first-paragraph"
            "second-paragraph"
            "projects-link"
            "third-paragraph"
            "hobby-image"
        ;
        grid-template-rows: min-content;
        grid-gap: 10px;
    }

    .text {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .intro-title {
        margin-bottom: 20px;
        text-align: center;
    }

    .profile-image {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .first-paragraph {
        padding: 0px;
    }

    .hobby-image {
        margin-top: 20px;
    }

    .caption {
        margin-top: 0px;
    }
}